.container {
  display: flex;
  justify-content: center;
  margin: 1.5rem 0 3rem 0;
}

.container__list {
  display: grid;
  gap: 2rem 1rem;
  grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
  width: 1320px;
}

.container__gifs {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container__gifs img {
  height: 285px;
  object-fit: cover;
  width: 285px;
}

.notFound {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.1rem;
  text-align: center;
}
