.container {
  display: flex;
  justify-content: center;
  margin: 3rem 0 4rem 0;
}

.search__box {
  position: relative;
}

.search__input {
  border: 2px solid#ffe54c;
  border-radius: 5px;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1rem;
  height: 23px;
  padding: 0.8rem 1.3rem;
}

.search__button {
  background: none;
  border: none;
  color: #ffe54c;
  cursor: pointer;
  height: 100%;
  position: absolute;
  right: 0;
}

input:focus {
  border: 2px solid #ffe54c;
}

.error__input {
  color: #ffe54c;
  display: flex;
  font-family: 'Noto Sans', sans-serif;
  font-size:1.1rem;
  font-weight: 500;
  justify-content: center;
  position: absolute;
  top: 160px;
}

.search__error {
  border: 2px solid #5e21d3;
}
.search__error:focus {
  border: 2px solid #5e21d3;
}
