.container {
  display: flex;
  justify-content: center;
  margin: 3rem 0 3rem 0;
}

.search__box {
  position: relative;
}

.search__input {
  height: 23px;
  border-radius: 5px;
  border: 2px solid hsl(45, 86%, 56%);
  padding: 5px 33px 5px 10px;
}

.search__button {
  position: absolute;
  right: 0;
  cursor: pointer;
  height: 100%;
  border: none;
  background: none;
  color: hsl(45, 86%, 56%);
}

input:focus {
  border: 2px solid hsl(45, 86%, 56%);
}

.error__input {
  display: flex;
  position: absolute;
  top: 80px;
  font-weight: 500;
  color: #dc3545;
  font-family: system-ui;
  font-size: 0.9rem;
  justify-content: center;
}

.search__error {
  border: 1px solid #dc3545;
}
