@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;600;700&family=Maven+Pro&family=Noto+Sans:wght@200;300;400&display=swap");

body {
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  box-sizing: border-box;
  color: #f5f5f5;
  font-family: CerebriSans-Bold, -apple-system, system-ui, Roboto, sans-serif;
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar {
  background-color: #6a11cb;
  background-color: #2575fc;
  width: 0.9rem;
}
body::-webkit-scrollbar-thumb {
  background-color: #ffe54c;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

h1 {
  color: #ffe54c;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
}

input {
  background: transparent;
  color: #f5f5f5;
  outline: none;
}
::placeholder {
  color: #f5f5f573;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #f5f5f5;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #f5f5f5;
}
